.card {
	background-color: #cbd5e1;
	border-radius: 1rem;
}
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

img {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.title {
	font-family: sans-serif;
	font-size: 24px;
	padding: 10px 0;
}
