@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

.start-btn {
	font-family: 'Gluten', cursive;
	font-size: 34px;
	padding: 0.7rem;
	border-radius: 0.5rem;
	color: #fff;
	background-color: #01b9d1;
	border: none;
	outline: none;
}

.start-btn:hover {
	transform: scale(1.1);
	border-radius: 1rem;
}

.logo {
	width: 60rem;
	height: auto;
}

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 4rem;
}
