@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

.logo {
	width: 10rem;
	height: auto;
}

.start-page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 1rem;
}

.score {
	border: solid 3px #01b9d1;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #01b9d1;
}
